html
{
    overflow-y: overlay;
}

main
{
    color: lightgray;
    margin-top: 30px;
}

body
{
    min-height: 100vh;
    font-family: Roboto, var(--bs-font-sans-serif);
}

.breadcrumb
{
    margin-bottom: 0;
}

    .breadcrumb a
    {
        color: lightgray;
    }

.icon-col
{
    flex: 0 0 auto;
    margin-top: -2px;
    width: 30px;
    text-align: center;
    font-size: 20px;
}

code
{
    font-family: Fantasque Sans Mono, var(--bs-font-monospace);
    font-variant-ligatures: none;
}

.alert-heading
{
    margin-bottom: 0;
}

.header
{
    color: white;
    transition: background-color 1s ease;
    position: relative;
}

    .header:target
    {
        background-color: var(--bs-gray-700);
    }

        .header:target::before
        {
            content: ">";
            left: -20px;
            position: absolute;
            color: var(--bs-success);
        }

.header-margin
{
    margin-top: 30px;
}

footer
{
    margin-top: 50px;
}

.side-col
{
    max-width: 25%;
}

#left-col, #right-col
{
    margin-left: 20px;
    margin-right: 20px;
}
